<footer>
  <p>Connect with me or view my work on:</p>
  <ul>
    <li>
      <a href="https://github.com/irisvw/">Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/iris-van-willigen-678463292/">LinkedIn</a>
    </li>
    <li>
      <a href="https://www.instagram.com/yellowish_iris/">Instagram</a>
    </li>
  </ul>

  <p>Made by Iris van Willigen</p>
  <a href="#">Back to top</a>
</footer></body></html>