<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/learning-journal">Learning Journal</a></li>
    <li><a href="/digital-garden">Digital Garden</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</nav>