{% render 'partials/head.liquid' %}

<header>
  <h1>I ❤️ WEB(DEV)</h1>
  {% render 'partials/nav.liquid' %}
</header>

<main class="blog">
  <h2>{{ fileContents.data.title }}</h2>
  {{ fileContents.content }}
</main>