{% render 'partials/head.liquid' %}

<header>
  <h1>I ❤️ WEB(DEV)</h1>
  {% render 'partials/nav.liquid' %}
</header>

<h2>Experiments</h2>
<section class="notebook-page">
  <div class="container">
    <ul>
      {% for experiment in experiments %}
        <li>
          <a href="/digital-garden/{{ experiment }}">{{ experiment | slice: 0, -5 }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% render 'partials/foot.liquid' %}