{% render 'partials/head.liquid' %}

<header>
  <h1>I ❤️ WEB(DEV)</h1>
  {% render 'partials/nav.liquid' %}
</header>

<main>
  <h2>Learning Log</h2>
  <section>
    <div class="container">
      <h3>October</h3>
      <ul>
        <li>
          <a href="pages/2024-10-23.html">23 october</a>
        </li>
        <li>
          <a href="pages/2024-10-21.html">21 october</a>
        </li>
        <li>
          <a href="pages/2024-10-18.html">18 october</a>
        </li>
        <li>
          <a href="pages/2024-10-16.html">16 october</a>
        </li>
        <li>
          <a href="pages/2024-10-15.html">15 october</a>
        </li>
        <li>
          <a href="pages/2024-10-14.html">14 october</a>
        </li>
        <li>
          <a href="pages/2024-10-09.html">09 october</a>
        </li>
        <li>
          <a href="pages/2024-10-08.html">08 october</a>
        </li>
        <li>
          <a href="pages/2024-10-07.html">07 october</a>
        </li>
        <li>
          <a href="pages/2024-10-04.html">04 october</a>
        </li>
        <li>
          <a href="pages/2024-10-02.html">02 october</a>
        </li>
        <li>
          <a href="pages/2024-10-01.html">01 october</a>
        </li>
      </ul>
      <h3>September</h3>
      <ul>
        <li><a href="pages/2024-09-30.html">30 september</a></li>
        <li><a href="pages/2024-09-27.html">27 september</a></li>
        <li><a href="pages/2024-09-23.html">23 september</a></li>
        <li><a href="pages/2024-09-18.html">18 september</a></li>
        <li><a href="pages/2024-09-17.html">17 september</a></li>
        <li><a href="pages/2024-09-13.html">13 september</a></li>
        <li><a href="pages/2024-09-12.html">12 september</a></li>
        <li><a href="pages/2024-09-11.html">11 september</a></li>
        <li><a href="pages/2024-09-10.html">10 september</a></li>
        <li><a href="pages/2024-09-09.html">9 september</a></li>
        <li><a href="pages/2024-09-08.html">8 september</a></li>
        <li><a href="pages/2024-09-07.html">7 september</a></li>
        <li><a href="pages/2024-09-06.html">6 september</a></li>
        <li><a href="pages/2024-09-05.html">5 september</a></li>
        <li><a href="pages/2024-09-04.html">4 september</a></li>
        <li><a href="pages/2024-09-03.html">3 september</a></li>
      </ul>
    </div>
  </section>
</main>

<footer></footer></body></html>