{% render 'partials/head.liquid' %}

<header>
  <h1>I ❤️ WEB(DEV)</h1>
  {% render 'partials/nav.liquid' %}
</header>

<h2>Mijn artikelen</h2>
<section class="notebook-page">
  <div class="container">
    {% assign files_by_date = files | sort: "data.date" | reverse %}
    {% for file in files_by_date %}
      <li class="blog-title">
        <a href="/learning-journal/{{ file.data.date | date: '%Y-%m-%d' }}">{{ file.data.title }}</a>
        <span>{{ file.data.date | date: '%Y-%m-%d' }}</span>
      </li>
    {% endfor %}
  </div>
</section>