{% render 'partials/head.liquid' %}
<style></style>

<header>
  <h1>I ❤️ WEB(DEV)</h1>
  {% render 'partials/nav.liquid' %}
</header>

<h2>Projects</h2>
<ul class="projects">
  <li>
    <img src="/assets/tumi-preview.webp" alt="">
    <a href="https://user-experience-enhanced-website-tumi.onrender.com/">TuMi Mundo</a>
    <p>Een applicatie die helpt met taalontwikkeling bij kinderen. Het project omvat een overzichtspagina van verhalen en playlists.</p>
  </li>
  <li>
    <img src="/assets/squad1g-preview.webp" alt="">
    <a href="https://connect-your-tribe-team-squad-page-apxc.onrender.com/">Squad Page 1G</a>
    <p>Overzichtspagina van iedereen in FDND squad 1G.
    </p>
  </li>
  <li>
    <img src="/assets/abn-preview.webp" alt="">
    <a href="https://irisvw.github.io/the-startup-responsive-interactive-website/">ABN AMRO</a>
    <p>Toegankelijkheidsverklaring voor ABN AMRO.</p>
  </li>
  <li>
    <img src="/assets/qatar-preview.webp" alt="">
    <a href="https://irisvw.github.io/look-and-feel-corporate-identity/">Qatar Museums</a>
    <p>De collectie pagina voor Qatar Museums.</p>
  </li>
  <li>
    <img src="/assets/sketch-preview.webp" alt="">
    <a href="https://irisvw.github.io/etch-a-sketch/">Etch-a-sketch</a>
    <p>Maak een tekeningetje in je browser.</p>
  </li>
</ul>

{% render 'partials/foot.liquid' %}