@font-face {
  font-family: "handwriting";
  src: url("../assets/Myfont-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-height: 100vh;
  background: rgb(205, 228, 255);
  background: linear-gradient(0deg, rgba(205, 228, 255, 1) 0%, rgba(255, 218, 234, 1) 100%);

  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header, h2 {
  font-family: "Courier Prime", monospace;
  margin-bottom: 1rem;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  ul {
    display: inline-flex;
    list-style: none;
    gap: 1rem;
  }
}

h2 {
  text-align: center;
}

section {
  min-height: 500px;
  max-height: 700px;
  width: clamp(300px, 90vw, 900px);
  overflow-y: scroll;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  font-family: handwriting, sans-serif;
  line-height: 30px;
  font-size: 22px;

  li {
    list-style-type: "♥ "
  }



  h3 {
    margin-top: 30px;
  }
}

.container {
  background-image: repeating-linear-gradient(white, white calc(1lh - 1px), #00b0d7 0 30px);
  padding: 3px 1rem 1rem 3rem;
  min-height: 500px;
}